{
  "extends": ["next", "next/core-web-vitals"],
  "overrides": [
    {
      "files": ["**.*"],
      "rules": {
        "react/no-unescaped-entities": "off",
        "react-hooks/exhaustive-deps": "off",
        "react/display-name": "off"
      }
    }
  ]
}
